<!DOCTYPE html>
<html>
  <head>
    <title>iCook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=BenchNine&display=swap" rel="stylesheet">
    <%= favicon_link_tag asset_path("Fork-01.png")%>
    <script type="text/javascript">
      window.indexURL = "<%= image_url('batch_cooking.jpg') %>";
      window.homeButtonURL = "<%= image_url('home-button.png') %>";
      window.avatarIconURL = "<%= image_url('avatar-icon.png') %>";
      window.introGifURL = "<%= image_url('cooking.gif') %>";
      window.logoURL = "<%= image_url('Fork-01.png') %>";
      // window.baked-ham = "<%= image_url('baked-ham-sandwiches.jpg') %>";
      // window.baked-kale = "<%= image_url('baked-kale-chips.jpg') %>";
      // window.stroganoff = "<%= image_url('Beef-Stroganoff.JPG') %>";
      // window.broccoli-cheese-soup = "<%= image_url('Broccoli-Cheese-Soup-Recipe.jpg') %>";
      // window.crab-stuffed-mushrooms = "<%= image_url('Crab-Stuffed-Mushrooms.jpg') %>";
      // window.enchilada-meatballs = "<%= image_url('enchilada-meatballs.jpg') %>";
      // window.pork-chops = "<%= image_url('Garlic-Pork-Chops-in-Creamy-Mushroom-Sauce.jpg') %>";
      // window.lasagna = "<%= image_url('lasagna.jpg') %>";
      // window.prime-rib = "<%= image_url('perfect-prime-rib.jpg') %>";
      // window.shakshuka = "<%= image_url('shakshuka.jpg') %>";
      // window.stuffed-mushrooms = "<%= image_url('stuffed-mushrooms.jpg') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
