<!DOCTYPE html>
<html>
  <head>
    <title>iCook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=BenchNine&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/82ee5c11bd.js" crossorigin="anonymous"></script>
    <%= favicon_link_tag asset_path("Fork_v2-01.png")%>
    <script type="text/javascript">
      window.indexURL = "<%= image_url('batch_cooking.jpg') %>";
      window.placeholder = "<%= image_url('Fork_placeholder.png') %>";
      window.avatarIconURL = "<%= image_url('avatar-icon.png') %>";
      window.introGifURL = "<%= image_url('batch_cooking.jpg') %>";
      window.logoURL = "<%= image_url('Fork_v2-01.png') %>";
      window.joinIcon = "<%= image_url('join-icon.png') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
